{% extends "layouts/main.html" %}
{% set pageName = "All" %}

{% block page_title %}{{ settings.title }}{% endblock %}

{% block body_class %}allOrgs{% endblock %}

{% block content %}

<div class="home-search-wrapper">
  <div class="row">
    <div class="columns small-12 large-8 large-offset-1">
      <h2>{{ settings.description }}</h2>
      {% include "partials/_search.html" %}
    </div>
  </div>
</div>

<div class="row">
  <div class="columns small-12 large-8 large-offset-2">
    {% if organisations %}

    <h3 id="contents">All organisations</h3>
    <nav>
      <ul class="alphabet">
      {% for item in alphabet %}
        {% if item.inOrgList == true %}
          <li>
            <a href="#{{ item.letter | capitalize }}">{{ item.letter | capitalize }}</a>
          </li>
        {% else %}
        <li class="no-link">
          <a>{{ item.letter | capitalize }}</a>
        </li>
        {% endif %}

      {% endfor %}
      </ul>
    </nav>

    {% set initial = "" %}
    <ul class="organisation-list">
      {% for item in organisations %}
      {% set organisationName = item.sortName %}
      {% set currentInitial = organisationName | first %}

      {% if currentInitial != initial %}
      <h3 id="{{ currentInitial }}">
        {{ currentInitial }}
      </h3>
      {% set initial = currentInitial %}
      {% endif %}

      <li>
        <a href="/organisation/{{ item.registrationCountry }}/{{ item.registrationNumber }}">{{ item.name }}</a>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
</div>

{% set allOrgs = true %}
{% include "partials/_back_to_top.html" %}

{% endblock %}
