<ul class="contentsList">
  <li>
    <a href="#makeARequest">Make a request</a>
  </li>

  <li>
    <a href="#organisationInformation">Organisation information</a>
  </li>

  <li>
    <a href="#dataProtectionOfficer">Data Protection Officer</a>
  </li>

  <li>
    <a href="#dataCategoriesCollected">Data categories collected</a>
  </li>

  <li>
    <a href="#unusualProcessingPurposes">Unusual processing purposes</a>
  </li>

  <li>
    <a href="#thirdParties">Third parties</a>
  </li>

  <li>
    <a href="#retentionRules">Retention rules</a>
  </li>

  <li>
    <a href="#lawfulBases">Lawful bases</a>
  </li>

  <li>
    <a href="#securityStandards">Security standards</a>
  </li>

  {% if meta.isUS %}
  <li>
    <a href="#privacyShield">US-EU Privacy Shield</a>
  </li>
  {% endif %}

  <li>
    <a href="#dataProcessingAddendum">Data processing addendum</a>
  </li>

  <li>
    <a href="#automatedDecisionMaking">Automated decision making</a>
  </li>

  <li>
    <a href="#complaintInformation">Complaint information</a>
  </li>

  <li>
    <a href="#designRecommendations">Design recommendations</a>
  </li>

  {% if extraData %}
  <li>
    <a href="#extraData">Extra data</a>
  </li>
  {% endif %}
</ul>
