<ul class="contentsList">
  <li>
    <a href="#make-a-request">Make a request</a>
  </li>

  <li>
    <a href="#organisation-information">Organisation information</a>
  </li>

  <li>
    <a href="#data-protection-officer">Data Protection Officer</a>
  </li>

  <li>
    <a href="#data-categories-collected">Data categories collected</a>
  </li>

  <li>
    <a href="#unusual-processing-purposes">Unusual processing purposes</a>
  </li>

  <li>
    <a href="#third-parties">Third parties</a>
  </li>

  <li>
    <a href="#retention-rules">Retention rules</a>
  </li>

  <li>
    <a href="#lawful-bases">Lawful bases</a>
  </li>

  <li>
    <a href="#security-standards">Security standards</a>
  </li>

  {% if meta.isUS %}
  <li>
    <a href="#privacy-shield">US-EU Privacy Shield</a>
  </li>
  {% endif %}

  <li>
    <a href="#data-processing-addendum">Data processing addendum</a>
  </li>

  <li>
    <a href="#automated-decision-making">Automated decision making</a>
  </li>

  <li>
    <a href="#complaint-information">Complaint information</a>
  </li>

  <li>
    <a href="#design-recommendations">Design recommendations</a>
  </li>

  {% if extraData %}
  <li>
    <a href="#extraData">Extra data</a>
  </li>
  {% endif %}
</ul>
