<div class="collapsable-content shortcut-item">
  {% if right == "access" %}
    <p>You can <a href="https://ico.org.uk/your-data-matters/your-right-of-access/" target="_blank">ask to see</a> what data {{ result.name }} has about you. They usually can’t charge for this, and they must respond to your request within a month.</p>
    <h3>Why you might make this request</h3>
    <p>You might want a copy of the data about you to understand what data the organisation has collected about you.</p>
  {% elif right == "rectification" %}
    <p>You can ask {{ result.name }} to <a href="https://ico.org.uk/your-data-matters/your-right-to-get-your-data-corrected/" target="_blank">change inaccurate or incomplete data</a> about you. They must respond to your request within a month. Sometimes your request can be refused.</p>
    <h3>Why you might make this request</h3>
    <p>If an organisation is using information about you which is incorrect, you can ask them to correct it.</p>
  {% elif right == "erasure" %}
    <p>You can ask that {{ result.name }} <a href="https://ico.org.uk/your-data-matters/your-right-to-get-your-data-deleted/" target="_blank">delete information about you</a>. They must respond to your request within a month. Sometimes your request can be refused.</p>
    <h3>Why you might make this request</h3>
    <p>You might want to delete data about you if, for example, you have stopped using an organisation’s services.</p>
  {% elif right == "restrictProcessing" %}
    <p>You can ask that {{ result.name }} <a href="https://ico.org.uk/for-organisations/guide-to-the-general-data-protection-regulation-gdpr/individual-rights/right-to-restrict-processing/" target="_blank">only store data about you</a> and not use it. They must respond to your request within a month.</p>
    <h3>Why you might make this request</h3>
    <p>You might want the accuracy of the data to be verified or you might want the organisation to hold on to data so you can make a legal claim against them.</p>
  {% elif right == "dataPortability" %}
    <p>You can ask {{ result.name }} to <a href="https://ico.org.uk/your-data-matters/your-right-to-data-portability/" target="_blank">move data about you</a> to another service or provide it in a format that can be used by another service.</p>
    <h3>Why you might make this request</h3>
    <p>You might want to move your data to another organisation to get a better deal.</p>
  {% elif right == "object" %}
    <p>You can ask {{ result.name }} to <a href="https://ico.org.uk/your-data-matters/the-right-to-object-to-the-use-of-your-data/" target="_blank">stop using your data</a> for particular reasons. They must respond to your request within a month.</p>
    <h3>Why you might make this request</h3>
    <p>You might want to stop the organisation using your data to for direct marketing.</p>
  {% elif right == "automatedDecisionMaking" %}
    <p>You can ask {{ result.name }} to give you information about how they use <a href="https://ico.org.uk/your-data-matters/your-rights-relating-to-decisions-being-made-about-you-without-human-involvement/" target="_blank">automated decision making</a>, or ask for a person to review an automated decision.</p>
    <h3>Why you might make this request</h3>
    <p>You might want to find out about an automated decision if, for example, you were rejected for a bank loan or account.</p>
  {% endif %}

  {% set contactInfo = result.payload.rights[right].contactInfo %}

  {% if contactInfo %}
    {% include 'partials/_shortcut_item_contact_info.html' %}
  {% elif result.payload.rights.general.contactInfo %}
    {% set contactInfo = result.payload.rights.general.contactInfo %}
    {% include 'partials/_shortcut_item_contact_info.html' %}
  {% elif result.payload.dataProtectionOfficer.present == "present" and result.payload.dataProtectionOfficer.contactInfo %}
    {% set contactInfo = result.payload.dataProtectionOfficer.contactInfo %}
    {% include 'partials/_shortcut_item_contact_info.html' %}
  {% else %}
    <p><span class="semibold">No contact information is available for this kind of request.</span> Help us by <a href="mailto:{{ settings.contact_email }}"> emailing us about this organisation at {{ settings.contact_email }}</a> or <a href="https://github.com/{{ settings.repository_path }}/blob/master/{{ result.registrationCountry }}{{ result.registrationNumber }}.json" target="_blank">add it yourself on GitHub</a>.</p>
  {% endif %}

  {% if result.payload.rights[right].observations %}
    <h3>Observations from contributor</h3>
    <p>{{ result.payload.rights[right].observations }}</p>
  {% endif %}
</div>
