<div id="shortcut-{{ right }}" class="shortcut-info" style="background: rgba(0,0,0,0.03);">
  {% if right == "access" %}
    <p class="description">You can <a href="https://ico.org.uk/for-organisations/guide-to-the-general-data-protection-regulation-gdpr/individual-rights/right-of-access/" target="_blank">ask to see</a> what information {{ result.name }} has about you. They usually can’t charge for this, and they must respond to your request within a month.</p>
  {% elif right == "rectification" %}
    <p>You can ask {{ result.name }} to <a href="https://ico.org.uk/for-organisations/guide-to-the-general-data-protection-regulation-gdpr/individual-rights/right-to-rectification/" target="_blank">change inaccurate or incomplete information</a> about you. They must respond to your request within a month. Sometimes your request can be refused.</p>
  {% elif right == "erasure" %}
    <p>You can ask that {{ result.name }} <a href="https://ico.org.uk/for-organisations/guide-to-the-general-data-protection-regulation-gdpr/individual-rights/right-to-erasure/" target="_blank">delete information about you</a>. They must respond to your request within a month. Sometimes your request can be refused.</p>
  {% elif right == "restrictProcessing" %}
    <p>You can ask that {{ result.name }} <a href="https://ico.org.uk/for-organisations/guide-to-the-general-data-protection-regulation-gdpr/individual-rights/right-to-restrict-processing/" target="_blank">only store data about you</a> and not use it. They must respond to your request within a month.</p>
  {% elif right == "dataPortability" %}
    <p>You can ask {{ result.name }} to <a href="https://ico.org.uk/for-organisations/guide-to-the-general-data-protection-regulation-gdpr/individual-rights/right-to-data-portability/" target="_blank">move data about you</a> to another service or provide it in a format that can be used by another service.</p>
  {% elif right == "object" %}
    <p>You can ask {{ result.name }} to <a href="https://ico.org.uk/for-organisations/guide-to-the-general-data-protection-regulation-gdpr/individual-rights/right-to-object/" target="_blank">stop using your data</a> for particular reasons, like marketing. They must respond to your request within a month.</p>
  {% elif right == "automatedDecisionMaking" %}
    <p>You can ask {{ result.name }} to give you information about how they use <a href="https://ico.org.uk/for-organisations/guide-to-the-general-data-protection-regulation-gdpr/individual-rights/rights-related-to-automated-decision-making-including-profiling/" target="_blank">automated decision making</a>, or ask for a person to review an automated decision.</p>
  {% endif %}

  {% set contactInfo = result.payload.rights[right].contactInfo %}

  {% if contactInfo.url %}
    <h3>Through their website</h3>
    <p>
      <a href="{{ contactInfo.url }}" target="_blank">{{ contactInfo.url }}</a>
    </p>
  {% endif %}

  {% if contactInfo.emailAddress %}
    <h3>By email</h3>

    {% if messageTemplates[right] %}
      <p><a href="mailto:{{ contactInfo.emailAddress }}?body={{ messageTemplates[right] | replace("\n", "%0D%0A") }}">Email {{ contactInfo.emailAddress }} using this template</a></p>
      <textarea style="background:rgba(0,0,0,0.01); font-family: monospace;">{{ messageTemplates[right] }}</textarea>
      <p><a href="#" class="copy-to-clipboard" style="font-size: 0.75em;">Copy template to clipboard</a></p>
    {% else %}
      <p><a href="mailto:{{ contactInfo.emailAddress }}">{{ contactInfo.emailAddress }}</a></p>
    {% endif %}
  {% endif %}

  {% if contactInfo.telephoneNumber %}
    <h3>By phone</h3>
    <p>
      <a href="tel:{{ contactInfo.telephoneNumber }}">{{ contactInfo.telephoneNumber }}</a>
    </p>
  {% endif %}

  {% if contactInfo.postalAddress %}
    <h3>By post</h3>
    <p>{{ contactInfo.postalAddress }}</p>
  {% endif %}

  {% if result.payload.rights[right].observations %}
    <h3>Observations from contributor</h3>
    <p>{{ result.payload.rights[right].observations }}</p>
  {% endif %}
</div>
