{% if contactInfo.url %}
  <h3>Through their website</h3>
  <p>
    <a href="{{ contactInfo.url }}" target="_blank">{{ contactInfo.url }}</a>
  </p>
{% endif %}

{% if contactInfo.emailAddress %}
  <h3>By email</h3>

  {% if messageTemplates[right] %}
    <p><a href="mailto:{{ contactInfo.emailAddress }}?body={{ messageTemplates[right] | replace("\n", "%0D%0A") | replace("{{name}}", result.name) }}" onClick="_paq.push(['trackLink', '{{ settings.url }}/organisation/{{ result.registrationCountry}}/{{ result.registrationNumber}}/{{ right }}/email', 'link']);">Email {{ contactInfo.emailAddress }} using this template</a></p>
      <textarea>{{ messageTemplates[right] }}</textarea>
    <p><a href="#" class="copy-to-clipboard">Copy template to clipboard</a></p>
  {% else %}
    <p><a href="mailto:{{ contactInfo.emailAddress }}">{{ contactInfo.emailAddress }}</a></p>
  {% endif %}
{% endif %}

{% if contactInfo.telephoneNumber %}
  <h3>By phone</h3>
  <p>
    <a href="tel:{{ contactInfo.telephoneNumber }}">{{ contactInfo.telephoneNumber }}</a>
  </p>
{% endif %}

{% if contactInfo.postalAddress %}
  <h3>By post</h3>
  <p>{{ contactInfo.postalAddress }}</p>
{% endif %}
