<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block page_title %}{% endblock %}</title>
    <link rel="icon" id="favicon" href="{{ settings.favicon }}" />
    <link rel="apple-touch-icon-precomposed" href="{{ settings.apple_touch_icon }}" />
    <meta name="description" content="{{ settings.description }}" />
    {% if settings.use_facebook_meta_tags %}
    <meta property="og:title" content="{{ settings.title }}" />
    <meta property="og:url" content="{{ settings.url }}" />
    <meta property="og:description" content="{{ settings.description }}" />
    <meta property="og:image" content="{{ settings.facebook_card_image }}" />
    {% endif %}
    {% if settings.use_twitter_meta_tags %}
    <meta property"twitter:title" content="{{ settings.title }}" />
    <meta name="twitter:card" content="{{ settings.twitter_card_image }}" />
    <meta name="twitter:site" content="{{ settings.twitter_card_handle }}" />
    <meta name="twitter:creator" content="{{ settings.twitter_card_handle }}" />
    <meta name="twitter:description" content="{{ settings.description }}" />
    <meta name="twitter:image" content="{{ settings.twitter_card_image }}" />
    {% endif %}
    <script src="/public/js/app.js"></script>
    {% block inline_js %}{% endblock %}
    <link type="text/css" rel="stylesheet" href="/public/css/app.css" />
    {% block inline_css %}{% endblock %}
    {% block head %}{% endblock %}
  </head>
  <body class="{% block body_class %}{% endblock %}">
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="menu-text">Open Data Rights</li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li><input type="search" placeholder="Search"></li>
          <li><button type="button" class="button">Search</button></li>
        </ul>
      </div>
    </div>
    {% block header %}{% endblock %}
    <div class="row">
      <div class="column small-12 medium-8 large-6 small-centered">
        {% block content %}{% endblock %}
      </div>
    </div>
    {% block footer %}{% endblock %}

    <footer class="callout secondary">
      <div class="row">
        <div class="small-12 medium-4 column">Open Data Rights</div>
        <div class="small-12 medium-8 column">
          <ul class="menu simple align-right">
            <li><a href="https://github.com/projectsbyif/org-gdpr-tool-data">Contribute on Github</a></li>
            <li><a href="https://projectsbyif.com/">Projects by IF</a></li>
            <li><a href="https://www.openrightsgroup.org/">Open Rights Group</a></li>
          </ul>
        </div>
      </div>
    </footer>
  </body>
</html>
