@mixin media($size: false) {
  @if $size == desktop {
    @media screen and (min-width: 64em) {
      @content;
    }
  }

  @else if $size == tablet {
    @media screen and (min-width: 40em) {
      @content;
    }
  }

  @else if $size == mobile {
    @media screen and (max-width: 40em) {
      @content;
    }
  }
}
