.organisation {
  .banner {
    background: $colour-main;
    color: #FFF;

    .banner-buttons {
      margin-bottom: 35px;

      .emoji-flag {
        font-size: 1.4em;
        position: relative;
        top: 4px;
      }

      a {
        text-decoration: none;
        border: #FFF 2px solid;
        border-radius: 6px;
        color: #FFF;
        padding: 5px 8px;
        margin-right: 10px;
      }
    }
  }

  .overview {
    background: $colour-secondary;

    ul {
      list-style-type: none;
      padding-left: 0;
      margin-bottom: 35px;

      li {
        margin-bottom: 20px;

        span {
          font-size: 1.4em;

          &:first-of-type {
            margin-right: 20px;
            position: relative;
            top: 2px;
          }

          &:last-of-type {
          }
        }
      }
    }
  }

  .data-row {
    .description {

    }

    .data {

      h3 {
        text-transform: uppercase;
        font-size: 0.8em;
        letter-spacing: 0px;
      }

      a {
        text-decoration: none;
        border: #212121 2px solid;
        border-radius: 6px;
        color: #212121;
        padding: 5px 8px;
        margin-right: 10px;

      }
    }


  }

}
