.organisation {
  ul {
    margin-top: 0.2rem;
    margin-bottom: 0;

    li {
      margin-bottom: 0.2rem;
    }
  }

  .summary {
    background: $colour-secondary;

    @include media(desktop) {
      padding-bottom: 1rem;
    }

    .headline {
      a {
        text-decoration: none;
        border-bottom: #{$color-link-underline} 1px solid;
      }
    }
  }

  .collapsable {
    margin-top: 1rem;
    padding: 0;

    li {
      list-style-type: none;
      border: #EEE 1px solid;
      border-radius: 5px;
      margin-bottom: 0.5rem;

      a {
        border-bottom: 0;
        position: relative;
        padding: 0.5rem 1rem;
        display: block;

        &.bold {
          div {
            background-image: url('/public/images/chevron-active.svg');
          }
        }

        div {
          position: absolute;
          right: 0.5rem;
          top: 0;
          width: 32px;
          height: 100%;
          border: 0;
          background-image: url('/public/images/chevron.svg');
          background-position: center center;
          background-repeat: no-repeat;
          background-size: 60% 60%;
          background-color: #FFF !important;
        }
      }

      .collapsable-content {
        background: $colour-secondary;
        border-top: #EEE 1px solid;
        padding: 0.5rem 1rem;

        a {
          padding: 0;
          display: inline;
          width: initial;
          border-bottom: #{$color-link-underline} 1px solid;
        }

        h3 {
          text-transform: uppercase;
          font-size: 0.7em;
          margin-bottom: 0.2rem;
          margin-top: 1.3rem;
          color: #555;
        }
      }
    }
  }

  .shortcut-item {
    .copy-to-clipboard {
      font-size: 0.75em;
    }

    textarea {
      margin-top: 1rem;
      margin-bottom: 0.5rem;
      height: 100px;
      background: $colour-secondary;
      font-family: monospace;
    }
  }

  .data-row {
    border-bottom: #{$colour-seperator} 1px solid;
    padding: 1rem 0 1.2rem 0;

    @include media(desktop) {
      padding: 2rem 0 2rem 0;
    }

    .description {
      margin-bottom: 2rem;

      a {
        border-bottom: #{$color-link-underline} 1px solid;
        text-decoration: none;
      }
    }

    h2 {
      margin-top: 0;
      margin-bottom: 0.2rem;
      color: #{$colour-main};
    }

    h3 {
      text-transform: uppercase;
      font-size: 0.8em;
      margin-bottom: 0.2rem;
      margin-top: 1.3rem;
      color: #555;
    }

    p {
      &:last-of-type {
        margin-bottom: 0;
      }
    }

    a {
      text-decoration: none;
      border-bottom: #{$color-link-underline} 1px solid;
    }
  }

  .single-right {
    display: none;
  }

  #actions {
    margin-top: 1rem;

    a {
      border-bottom: #{$color-link-underline} 1px solid;
      text-decoration: none;
    }

    @include media(desktop) {
      margin-top: 2rem;
    }
  }

  .update-needed {
    margin-top: 1rem;
    border: #{$color-grey} 1px dashed;
    padding: 1rem;
    color: $color-grey;

    .bold {
      font-weight: 600;
      margin-bottom: 0.2rem;
    }

    a {
      color: $color-grey;
      border-bottom: #{$color-link-underline} 1px solid !important;
      padding: 0 !important;
      margin: 0 !important;
    }
  }

  .extra-data-table {
    text-align: left;

    table {
      width: 100%;
      padding: 0.2rem;
      border: #CCC 1px solid;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    th {
      width: 33.333%;
      padding: 0.2rem 0.6rem;
    }

    td {
      width: 66.666%;
      padding: 0.2rem;
    }
  }

  .special-category {
    border: #{$colour-main} 1px solid;
    font-size: 0.8rem;
    margin-left: 10px;
    font-weight: bold;
    border-radius: 5px;
    padding: 0rem 0.2rem 0.1rem 0.2rem;

    a {
      text-decoration: none;
      color: $colour-main;
      border-bottom: none;
    }
  }
}

.index,
.about {
  h3 {
    text-transform: uppercase;
    font-size: 0.8em;
    margin-bottom: 0.2rem;
    margin-top: 1.3rem;
    color: #555;
  }

  .content p a {
    border-bottom: #{$color-link-underline} 1px solid;
    text-decoration: none;
  }
}

.about {
  h3 {
    margin-top: 3rem;
  }
}
