body {
  font-family: 'Open Sans', 'Helvetica Neue', 'Arial', sans-serif;
  font-size: 18px;
  color: #212121;
}

header {
  h1 {
    font-size: 1.1em;

    a {
      text-decoration: none;
      color: #212121;
    }
  }
}

.bold {
  font-weight: 700;
}

.last-updated {
  color: #999;
}
