{% extends "layouts/main.html" %}

{% block page_title %}{{organisation.name}}{% endblock %}

{% block body_class %}organisation{% endblock %}

{% block header %}

{% endblock %}

{% block content %}
  <h1>Search</h1>

  {% set query = query %}
  {% include "partials/_search.html" %}

  {% if results.length > 0 %}
    {% for result in results %}
      <p><a href="/organisation/{{ result.slug }}">{{ result.name }}</a></p>
    {% endfor %}
  {% else %}
    <p>No results</p>
  {% endif %}
{% endblock %}
