{% set query = query %}

{% extends "layouts/main.html" %}

{% block page_title %}Search results: {{ query }} – {{ settings.title }}{% endblock %}

{% block body_class %}search_page{% endblock %}

{% block header %}

{% endblock %}

{% block content %}
<div class="row">
  <div class="columns small-12 large-8 large-offset-2">
    <h2>Search</h2>

    {% include "partials/_search.html" %}

    {% if results.length > 0 %}
      {% for result in results %}
        <h3><a href="/organisation/{{ result.registrationCountry }}/{{ result.registrationNumber }}">{{ result.name }}</a></h3>
      {% endfor %}
    {% else %}
      <p>No organisations found</p>
      {% include "partials/_latest_organisations.html" %}
      <p><a href="#">Contribute</a></p>
    {% endif %}
  </div>
</div>
{% endblock %}
