{% set query = query %}

{% extends "layouts/main.html" %}

{% block page_title %}Search results: {{ query }} – {{ settings.title }}{% endblock %}

{% block body_class %}search_page{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="columns small-12 large-8 large-offset-2">
    <h2>Search results</h2>

    {% include "partials/_search.html" %}

    {% if results.length > 0 %}
      <ul class="organisation-list">
        {% for result in results %}
        <li>
          <a href="/organisation/{{ result.registrationCountry }}/{{ result.registrationNumber }}">{{ result.name }}</a>
        </li>
        {% endfor %}
      </ul>
    {% else %}
      <p class="bold">No results found</p>
      <p>Help us expand the organisations we cover. <a href="https://generator.projectsbyif.com" target="_blank">Use this form</a> to contribute with GitHub, or email <a href="mailto:{{ settings.contact_email }}">{{ settings.contact_email }}</a> to request the organisation you're looking for.</p>
    {% endif %}
  </div>
</div>
{% endblock %}
