{% extends "layouts/main.html" %}

{% set smallSearch = true %}
{% set pageName = "Developers" %}

{% block page_title %}Developers – {{ settings.title }}{% endblock %}

{% block body_class %}developers{% endblock %}

{% block content %}
<div class="row">
  <div class="columns small-12 large-8 large-offset-2">
    <h2>For Developers</h2>

    <p>This website uses a <a href="https://github.com/{{ settings.repository_path }}" target="_blank">new and open dataset</a> of machine-readable privacy notices.</p>

    <p> Data Rights Finder provides <span class="semibold"><a href="https://github.com/datarightsfinder/website/blob/master/docs/api.md" target="_blank">a simple, read-only API</a></span> so developers can easily use the data from this website in their own applications.</p>

    <p>We'd love to hear from you if you use the API to build an application. <span class="semibold">Get in touch</span> at <a href="mailto:contact@datarightsfinder.org">contact@datarightsfinder.org</a> to let us know or to pass on any feedback about the data.</p>

  </div>
</div>
{% endblock %}
