{% extends "layouts/main.html" %} {% set pageName = "home" %} {% block page_title %}{{ settings.title }}{% endblock %} {% block body_class %}index{% endblock %} {% block content %}
<div class="home-search-wrapper">
  <div class="row">
    <div class="columns small-12 large-8 large-offset-1">
      <h2>{{ settings.description }}</h2>
    </div>
    <img src="/public/images/magn-glass.png" alt="Data Rights Finder logo">
  </div>

  <div class="row">
    <div class="columns small-12 large-6 large-offset-1">
      <div class="intro">
        <p class="description">Organisations should make their privacy policies understandable. Most of them don't, but you have rights over the data they hold about you.</p>

        <p>{{ settings.title }} helps you use your rights by guiding you through making requests to change how data about you is used.</p>

        <p>Try searching for banks, insurance providers, comparison websites, and financial services organisations.</p>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="columns small-12 large-6 large-offset-1">
      {% include "partials/_search.html" %}
    </div>
    <div class="columns small-12 large-3 end">
      <p class="all-organisations" ><a href="/all">See all organisations</a></p>
    </div>
  </div>
</div>

<div class="row new-contributions">
  <div class="columns small-12 large-4 large-offset-1">
    <h4>Recent Privacy Policy Changes</h4>

    <table>
      <tbody>
        {% for item in organisations %} {% if loop.index0
        < 5 %} <tr>
          <td><a href="/organisation/{{ item.registrationCountry }}/{{ item.registrationNumber }}">{{ item.name }}</a></td>
          <td class="date-added">{{ item.jsonLastUpdated }}</td>
          </tr>
          {% endif %} {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="columns small-12 large-4 end">
    {% if organisations %}
    <div class="totals">
      <p><a href="/all">{{ organisations | length }}</a><p><a href="/all">Organisations in <br> Data Rights Finder</a></p>
    </div>
    {% endif %}
  </div>
</div>

<div class="row">


</div>

<div class="row">
  <div class="columns small-12 large-8 large-offset-1">
    <!-- <div class="toggle-collapsable-content"> -->

    <!-- <div class="toggle"></div> -->
    <!-- </div> -->

    <!-- {% if organisations %}
    <ul class="collapsable-content organisation-list">

      {% for item in organisations | sort(false, false, 'sortName')%}

      <li>
        <a href="/organisation/{{ item.registrationCountry }}/{{ item.registrationNumber }}">{{ item.name }}</a>
      </li>

      {% endfor %}

    </ul>
    {% endif %} -->
  </div>
</div>


{% endblock %}
