{% extends "layouts/main.html" %}
{% set pageName = "home" %}

{% block page_title %}{{ settings.title }}{% endblock %}

{% block body_class %}index{% endblock %}

{% block content %}
<div class="home-search-wrapper">
  <div class="row">
    <div class="columns small-12 large-8 large-offset-2">
      <h2>{{ settings.description }}</h2>
      {% include "partials/_search.html" %}
    </div>
  </div>
</div>

<div class="row">
  <div class="columns small-12 large-8 large-offset-2">
    <div class="intro">
      <p>Data Rights Finder helps you get hold of data about you and find out what’s happening with it. We have information for {{ organisation_count }} banks and financial service organisations.</p>
      <p>Try searching for a name or check the list below.</p>
    </div>

    {% if organisations %}
    <h3>All organisations</h3>

    <ul class="organisation-list">
      {% for item in organisations %}
      <li>
        <a href="/organisation/{{ item.registrationCountry }}/{{ item.registrationNumber }}">{{ item.name }}</a>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
</div>
{% endblock %}
