{% extends "layouts/main.html" %}

{% set smallSearch = true %}
{% set pageName = "About" %}

{% block page_title %}About – {{ settings.title }}{% endblock %}

{% block body_class %}about{% endblock %}

{% block content %}
<div class="row">
  <div class="columns small-12 large-8 large-offset-1">
    <h2>About Data Rights Finder</h2>
  </div>
</div>
<div class="row">
  <div class="columns small-12 large-8 large-offset-2">
    <p>Organisations should make their privacy policies easy to understand. But not all of them do. To help with this problem, <span class="semibold">Data Rights Finder <a href="/contribute">contributors</a> have analysed organisations' privacy policies</span> to make it clearer how they use data, including data about you.</p>

    <p>The Data Rights Finder makes it easier to <span class="semibold">understand your rights.</span> We'll guide you through making requests to change how data about you is used.</p>

    <p>Currently, we're focussing on covering financial services organisations. We'll be expanding our coverage in the future. <a href="mailto:contact@datarightsfinder.org">Let us know at contact@datarightsfinder.org</a> if there's a specific organisation you'd like to be added to the site.</p>

    <h3>Contact Us</h3>

    <p><span class="semibold">We'd love your feedback on Data Rights Finder</span>. Get in touch at <a href="mailto:{{ settings.contact_email }}">{{ settings.contact_email }}</a> and let us know what you think.</p>

    <div class="logos">
      <a href="https://projectsbyif.com"><img src="/public/images/logo_if.svg" alt="IF logo" />
      <a href="https://openrightsgroup.org"><img src="/public/images/logo_org.svg" alt="Open Rights Group logo" /></a>
      <a href="https://ico.org.uk"><img src="/public/images/logo_ico.svg" alt="Information Commissioner's Office logo" /></a>
    </div>

    <p>This project is maintained by <a href="https://projectsbyif.com">IF</a> and <a href="https://openrightsgroup.org" target="_blank">Open Rights Group</a> with funding from the <a href="https://ico.org.uk/" target="_blank">Information Commissioner’s Office</a>.</p>
  </div>
</div>
{% endblock %}
