{% extends "layouts/main.html" %}

{% set smallSearch = true %}
{% set pageName = "About" %}

{% block page_title %}About – {{ settings.title }}{% endblock %}

{% block body_class %}about{% endblock %}

{% block content %}
<div class="row">
  <div class="columns small-12 large-8 large-offset-2">
    <h2>About</h2>

    <p class="bold">{{ settings.title }} helps people find, understand and use information from privacy notices.</p>

    <p>Individuals can learn how to exercise their new rights under GDPR, find out what information is collected about them and see who to contact when they want to know more.</p>

    <p>Businesses can understand how service providers share data with third parties and how data is protected outside the EEA.</p>

    <p>Developers can use our API to build services that use data from privacy notices in new and empowering ways.</p>

    <h3>Contribute</h3>
    <p>Help us grow our coverage by adding information about an organisation <a href="https://generator.projectsbyif.com" target="_blank">with our contribution tool</a>. The data behind this website is available <a href="https://github.com/projectsbyif/open-data-rights-data" target="_blank">in this repository</a> under the <a href="https://opendatacommons.org/licenses/odbl/" target="_blank">Open Database Licence</a>.</p>

    <h3>Contact</h3>
    <p>To get in touch, contact <a href="mailto:{{ settings.contact_email }}">{{ settings.contact_email }}</a>.</p>

    <div class="logos">
      <a href="https://projectsbyif.com"><img src="/public/images/logo_if.svg" alt="IF logo" />
      <a href="https://openrightsgroup.org"><img src="/public/images/logo_org.svg" alt="Open Rights Group logo" /></a>
      <a href="https://ico.org.uk"><img src="/public/images/logo_ico.svg" alt="Information Commissioner's Office logo" /></a>
    </div>

    <p>This project is maintained by <a href="https://projectsbyif.com">IF</a> and <a href="https://openrightsgroup.org" target="_blank">Open Rights Group</a> with funding from the <a href="https://ico.org.uk/" target="_blank">Information Commissioner’s Office</a>.</p>
  </div>
</div>
{% endblock %}
