{% extends "layouts/main.html" %}

{% set smallSearch = true %}
{% set pageName = "About" %}

{% block page_title %}About – {{ settings.title }}{% endblock %}

{% block body_class %}about{% endblock %}

{% block content %}
<div class="row">
  <div class="columns small-12 large-8 large-offset-2">
    <h2>About</h2>

    <p>{{ settings.title }} helps you understand how organisations use data about you. It guides you through making requests that change how it's used.</p>

    <p>We're currently focussing on covering fintech organisations. We'll be expanding our coverage in the future.</p>

    <h3>For developers</h3>

    <p>This website uses a <a href="https://github.com/{{ settings.repository_path }}" target="_blank">new and open dataset</a> of machine-readable privacy notices. Developers can use our API to integrate this dataset with their application.</p>

    <p class="semibold"><a href="https://github.com/datarightsfinder/website/blob/master/docs/api.md" target="_blank">Learn how to use the API on GitHub</a></p>

    <h3>Contribute</h3>

    <p>We’re looking for partners to expand the organisations we cover. You can help by converting a text privacy notice into a machine-readable privacy notice, or by contributing your organisation's privacy notice.</p>

    <p><span class="semibold"><a href="https://generator.projectsbyif.com" target="_blank">Start a contribution with the form</a></span> or <span class="semibold"><a href="mailto:{{ settings.contact_email }}">request an organisation by email</a></span></p>

    <h3>Contact</h3>

    <p>We'd love your feedback on Data Rights Finder. Get in touch at <a href="mailto:{{ settings.contact_email }}">{{ settings.contact_email }}</a>.</p>

    <div class="logos">
      <a href="https://projectsbyif.com"><img src="/public/images/logo_if.svg" alt="IF logo" />
      <a href="https://openrightsgroup.org"><img src="/public/images/logo_org.svg" alt="Open Rights Group logo" /></a>
      <a href="https://ico.org.uk"><img src="/public/images/logo_ico.svg" alt="Information Commissioner's Office logo" /></a>
    </div>

    <p>This project is maintained by <a href="https://projectsbyif.com">IF</a> and <a href="https://openrightsgroup.org" target="_blank">Open Rights Group</a> with funding from the <a href="https://ico.org.uk/" target="_blank">Information Commissioner’s Office</a>.</p>
  </div>
</div>
{% endblock %}
